/* Estilo do carrossel */
.carousel-inner {
    width: 100%;
    height: auto;
}

.carousel-item img {
    width: 100%;  /* Garante que as imagens ocupem toda a largura do carrossel */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;  /* Faz com que as imagens preencham o espaço sem distorcer */
}

/* Estilo do card */
.fundo {
    background-color: rgba(59, 59, 59, 0.564);
    padding: 16px;
    border-radius: 15px;
    margin: 5px;
}

/* Ajuste de título */
.title {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

/* Ajuste do layout para telas pequenas */

